@charset "UTF-8";
.header-container {
  display: flex;
  align-items: center;
}

header img {
  width: 50%;
}
header nav {
  background-color: #6399eb;
  width: 100%;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  color: #ff9100;
  font-size: 20px;
  text-decoration: none;
  padding: 12px;
}

.nav-link {
  font-family: Georgia;
  color: #014bac;
}
.nav-link:hover {
  color: deeppink;
  background-color: rgba(255, 255, 0, 0.342);
}

.container-fluid {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.redes {
  display: flex;
  justify-content: space-around;
}

.index-h1 {
  color: #014bac;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Georgia;
  padding: 20px;
}

.index-h1:hover {
  font-size: 60px;
  color: deeppink;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 0, 0.342);
  padding: 20px;
}

.cursos .nuestros-cursos, .contacto-1, .parent .nosotros-1, .sub-h1 {
  font-size: 48px;
  color: #014bac;
  font-family: Georgia;
  text-decoration: underline double;
  padding: 20px;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
}

/*Estilos de footer*/
.redes {
  margin-top: 200px;
  background-color: #6399eb;
  padding: 30px;
}
.redes .like {
  padding: 2px;
  font-family: Georgia;
  color: blue;
}
.redes img {
  height: 50px;
  width: 50px;
}
.redes .transicion {
  transition: all 2s;
}
.redes .transicion:hover {
  transform: scale(2);
}

.redes {
  display: flex;
  justify-content: space-around;
}

.index-h1 {
  color: #014bac;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Georgia;
  padding: 20px;
}

.index-h1:hover {
  font-size: 60px;
  color: deeppink;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 0, 0.342);
  padding: 20px;
}

.cursos .nuestros-cursos, .contacto-1, .parent .nosotros-1, .sub-h1 {
  font-size: 48px;
  color: #014bac;
  font-family: Georgia;
  text-decoration: underline double;
  padding: 20px;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
}

/*Comienzo de HTML SERVICIOS*/
.img-serv {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
.img-serv .animate__jello:hover {
  display: inline-block;
  animation: jello;
  animation-duration: 8s;
}

.sub-h1 {
  margin-top: 60px;
}

.ser-1 {
  font-size: 20px;
  color: #6399eb;
  font-family: Georgia;
  margin-top: 20px;
}
.ser-1:hover {
  background-color: rgba(255, 255, 0, 0.342);
}

/*Comienzo de HTML UNIDADES*/
.unidades-1 {
  margin-top: 100px;
  padding: 50px;
  box-sizing: border-box;
}

.sub-h1 {
  color: deeppink;
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: cursive;
  text-decoration: underline;
  padding-left: 20px;
}

.caracteristicas1 {
  margin-top: 30px;
}
.caracteristicas1 h3 {
  text-decoration: underline;
  color: #014bac;
  display: inline-block;
}
.caracteristicas1 h3:hover {
  background-color: rgba(255, 255, 0, 0.342);
}
.caracteristicas1 ul {
  margin-top: 30px;
}
.caracteristicas1 li {
  font-size: 22px;
}
.caracteristicas1 li:hover {
  transform: translateX(150px);
  transition: 4s;
}
@media (max-width: 480px) {
  .caracteristicas1 li:hover {
    transform: translateX(88px);
  }
}

.animate__jello:hover {
  display: inline-block;
  animation: jello;
  animation-duration: 10s;
}

@media (max-width: 480px) {
  .sub-h1 {
    font-size: 30px;
  }
}
.autitos, .autitos1 {
  background-color: black;
  display: inline-block;
  color: white;
}

.redes {
  display: flex;
  justify-content: space-around;
}

.index-h1 {
  color: #014bac;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Georgia;
  padding: 20px;
}

.index-h1:hover {
  font-size: 60px;
  color: deeppink;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 0, 0.342);
  padding: 20px;
}

.cursos .nuestros-cursos, .contacto-1, .parent .nosotros-1, .sub-h1 {
  font-size: 48px;
  color: #014bac;
  font-family: Georgia;
  text-decoration: underline double;
  padding: 20px;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
}

/*Comienzo HTML NOSOTROS*/
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.parent .div1 {
  grid-area: 1/1/2/3;
}
.parent .div2 {
  grid-area: 2/1/3/3;
  padding: 10px;
}
.parent .div3 {
  grid-area: 3/1/4/2;
  padding: 10px;
}
.parent .div4 {
  grid-area: 3/2/4/3;
  padding: 10px;
}
.parent .div5 {
  grid-area: 4/1/5/2;
  padding: 10px;
}
.parent .div6 {
  grid-area: 4/2/5/3;
  padding: 10px;
}
.parent .div7 {
  grid-area: 5/1/6/3;
  padding: 10px;
}
.parent .div8 {
  grid-area: 6/1/7/3;
  padding: 10px;
}
.parent .nosotros-1 {
  margin-top: 70px;
}
.parent .nosotros2 {
  font-size: 20px;
  color: #6399eb;
  font-family: Georgia;
  margin-top: 20px;
}
.parent .nosotros2:hover {
  background-color: rgba(255, 255, 0, 0.342);
}

#div6 {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  box-shadow: 0 0 10px 6px black;
}

.animate__jello:hover {
  display: inline-block;
  animation: jello;
  animation-duration: 10s;
}

@media screen and (max-width: 980px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
  }
  .parent .div1 {
    grid-area: 1/1/2/2;
    margin: 0px;
  }
  .parent .div2 {
    grid-area: 2/1/3/2;
    margin: 0px;
  }
  .parent .div3 {
    grid-area: 3/1/4/2;
    margin: 0px;
  }
  .parent .div4 {
    grid-area: 4/1/5/2;
  }
  .parent .div5 {
    grid-area: 5/1/6/2;
  }
  .parent .div6 {
    grid-area: 6/1/7/2;
  }
  .parent .div7 {
    grid-area: 7/1/8/2;
  }
  .parent .div8 {
    grid-area: 8/1/9/2;
  }
}
.redes {
  display: flex;
  justify-content: space-around;
}

.index-h1 {
  color: #014bac;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Georgia;
  padding: 20px;
}

.index-h1:hover {
  font-size: 60px;
  color: deeppink;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 0, 0.342);
  padding: 20px;
}

.cursos .nuestros-cursos, .contacto-1, .sub-h1, .parent .nosotros-1 {
  font-size: 48px;
  color: #014bac;
  font-family: Georgia;
  text-decoration: underline double;
  padding: 20px;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
}

/*Comienzo de HTML CONTACTO*/
.contacto-1 {
  margin-top: 70px;
}

.contacto-2 {
  font-size: 20px;
  color: #6399eb;
  font-family: Georgia;
  margin-top: 70px;
}
.contacto-2:hover {
  background-color: rgba(255, 255, 0, 0.342);
}

form {
  width: 450px;
  margin: auto;
  background: #014bac;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 70px;
  border-radius: 10px;
}
form input, form textarea {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
}
form textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton-form {
  background-color: cadetblue;
  color: black;
  padding: 20px;
}

#boton-form:hover {
  background-color: blueviolet;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.animate__jello:hover {
  display: inline-block;
  animation: jello;
  animation-duration: 10s;
}

@media (max-width: 480px) {
  form {
    width: 380px;
  }
}
.contacto-3 {
  font-size: 20px;
  color: #6399eb;
  font-family: Georgia;
  margin-top: 70px;
}
.contacto-3:hover {
  background-color: rgba(255, 255, 0, 0.342);
}

.contacto-4 {
  font-size: 20px;
  color: #6399eb;
  font-family: Georgia;
  margin-top: 40px;
}
.contacto-4:hover {
  background-color: rgba(255, 255, 0, 0.342);
}

.contacto-5 {
  font-size: 20px;
  color: #6399eb;
  font-family: Georgia;
  margin-top: 40px;
}
.contacto-5 .cont {
  margin-top: 10px;
}
.contacto-5:hover {
  background-color: rgba(255, 255, 0, 0.342);
}

@media (max-width: 480px) {
  .contacto-1 {
    font-size: 20px;
  }

  .contacto-2 {
    font-size: 15px;
  }

  .contacto-3 {
    font-size: 15px;
  }

  .contacto-4, .contacto-5 {
    visibility: hidden;
  }
}
/*colores*/
/*tamaños*/
/*fuentes*/
.redes {
  display: flex;
  justify-content: space-around;
}

.index-h1 {
  color: #014bac;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Georgia;
  padding: 20px;
}

.index-h1:hover {
  font-size: 60px;
  color: deeppink;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 0, 0.342);
  padding: 20px;
}

.cursos .nuestros-cursos, .sub-h1, .parent .nosotros-1, .contacto-1 {
  font-size: 48px;
  color: #014bac;
  font-family: Georgia;
  text-decoration: underline double;
  padding: 20px;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
}

/*Encabezado principal*/
.index-h1 {
  font-size: 60px;
}
@media (max-width: 480px) {
  .index-h1 {
    font-size: 40px;
  }
  .index-h1:hover {
    font-size: 40px;
    color: deeppink;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 0, 0.342);
    padding: 20px;
  }
}
/*Seccion Ubicacion*/
.Ubicandonos {
  display: flex;
  margin-top: 150px;
  margin-bottom: 150px;
}
.Ubicandonos .iframe-ubicacion {
  width: 150px;
  height: 150px;
  float: right;
}
.Ubicandonos .ubicacion {
  color: white;
  background-color: #6399eb;
  font-size: 25px;
  margin-right: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  .Ubicandonos .ubicacion {
    display: none;
  }
  .Ubicandonos .iframe-ubicacion {
    margin-left: 30%;
    margin-top: 0px;
  }
}

/*Estilo seccion cursos*/
.cursos .nuestros-cursos {
  margin-bottom: 50px;
}
.cursos .nuestros-cursos:hover {
  color: deeppink;
  background-color: rgba(255, 255, 0, 0.342);
  display: inline-block;
  padding: 20px;
}
.cursos .curso-practico {
  background: #6399eb;
  border-radius: 5px;
  margin-right: 3px;
}
.cursos .curso-teorico {
  background: #6399eb;
  border-radius: 5px;
  margin-right: 3px;
}
.cursos .curso-estacionamiento {
  background: #6399eb;
  border-radius: 5px;
}
.cursos ul {
  display: flex;
  justify-content: flex-start;
}
.cursos li {
  list-style-type: none;
}
.cursos img {
  width: 100px;
  margin-bottom: 15px;
}
.cursos .p-cu {
  font-size: 25px;
}
.cursos .p-cu:hover {
  background-color: lightblue;
}
@media (max-width: 480px) {
  .cursos .p-cu {
    font-size: 13px;
  }
  .cursos .nuestros-cursos {
    font-size: 30px;
  }
  .cursos .nuestros-cursos:hover {
    font-size: 30px;
    color: deeppink;
    font-family: Georgia;
    text-decoration: underline double;
    padding: 20px;
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    background-color: rgba(255, 255, 0, 0.342);
  }
}

/*estilos de parrafos*/
strong {
  color: fuchsia;
}

/*tamaños de imagen y posision*/
.cursos img {
  width: 100px;
  height: 100px;
}

/*colores*/
/*tamaños*/
/*fuentes*/
/*fondo de la web*/
body {
  background-color: #f3cdf8;
}

.disclaimer {
  display: none;
}

/*# sourceMappingURL=style.css.map */
