@import "../base/maps";
@import "../base/extends";


/*Comienzo de HTML CONTACTO*/
.contacto-1  { 
    @extend %h1-resto;
    margin-top: 70px;
}
    
.contacto-2 { 
    font-size: 20px;
    color: rgb(99, 153, 235);
    font-family: Georgia;
    margin-top: 70px;
    &:hover { background-color: rgba(255, 255, 0, 0.342);}
}
    
form { 
    width: 450px;
    margin: auto;
    background: rgb(1, 75, 172);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 70px;
    border-radius: 10px;
    
    input, textarea {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 15px;
        border: none;
        }

        textarea { 
            min-height: 100px;
            max-height: 200px;
            max-width: 100%;
            }

}
    
#boton-form { 
    background-color: cadetblue;
    color: black;
    padding: 20px;
}

#boton-form:hover { 
    background-color: blueviolet;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.animate__jello:hover {
    display: inline-block;
    animation: jello;
    animation-duration: 10s;}
    
@media (max-width: 480px) { 
        form { width: 380px;}
}


.contacto-3 { 
    font-size: 20px;
    color: rgb(99, 153, 235);
    font-family: Georgia;
    margin-top: 70px;
    &:hover { background-color: rgba(255, 255, 0, 0.342);}
}
    
.contacto-4 { 
    font-size: 20px;
    color: rgb(99, 153, 235);
    font-family: Georgia;
    margin-top: 40px;
    &:hover { background-color: rgba(255, 255, 0, 0.342);}
}
    
.contacto-5 { 
    font-size: 20px;
    color: rgb(99, 153, 235);
    font-family: Georgia;
    margin-top: 40px;

    .cont { margin-top: 10px;}

    &:hover { background-color: rgba(255, 255, 0, 0.342);
    }
}
    
    @media (max-width: 480px) { 
        .contacto-1 { font-size: 20px;}
        .contacto-2 { font-size: 15px;}
        .contacto-3 { font-size: 15px;}
        .contacto-4, .contacto-5 { visibility: hidden;}
    }
    
    