@import "../base/extends";

/*Estilos de footer*/
.redes { 
    @extend %ordenar;
    margin-top: 200px;
    background-color: rgb(99, 153, 235);
    padding: 30px;
    .like {
        padding: 2px;
        font-family:Georgia;
        color: blue;
     }
     img { height: 50px;
        width: 50px;}
    .transicion { transition: all 2s;}
    .transicion:hover { transform: scale(2);}
}

    