@import "../base/listas";
@import "../base/extends";

/*Encabezado principal*/
.index-h1 {
    @extend %h1-index;
    font-size: 60px;

    &:hover { @extend %h1-indexhov;}
}

@media (max-width: 480px) {
    .index-h1 { font-size: 40px;
        &:hover { font-size: 40px;
            color: deeppink; 
            display: flex;
            justify-content: center;
            margin-top: 150px;
            margin-left: 10px;
            margin-right: 10px;
            background-color: rgba(255, 255, 0, 0.342);
            padding: 20px;}
    }
}
    

/*Seccion Ubicacion*/
.Ubicandonos{ display: flex;
    margin-top: nth($list:$margin , $n:1 );
    margin-bottom: nth($list:$margin , $n:1 );
    .iframe-ubicacion { width: 150px;
        height: 150px;
        float: right;
        }
        .ubicacion { color: white;
            background-color: rgb(99, 153, 235);
            font-size: nth($list: $size, $n:6 );
            margin-right: nth($list: $margin, $n:6 );
            text-align: center;
            display: flex;
            align-items: center;
            }
        
    @media (max-width: 480px) {
        .ubicacion { display: none;}
        .iframe-ubicacion { margin-left: 30%;
        margin-top: 0px}
    }
}
    
/*Estilo seccion cursos*/

.cursos{
    .nuestros-cursos{ @extend %h1-resto;
        margin-bottom: 50px; 
        &:hover { color: deeppink;
        background-color: rgba(255, 255, 0, 0.342);
        display: inline-block;
        padding: 20px;}
    }

    .curso-practico { 
        background: rgb(99, 153, 235);
        border-radius: 5px;
        margin-right: 3px;}

    .curso-teorico { 
        background: rgb(99, 153, 235);
        border-radius: 5px;
        margin-right: 3px;
    }
    .curso-estacionamiento{ 
        background: rgb(99, 153, 235);
        border-radius: 5px;}
    
    ul { display: flex;
    justify-content: flex-start;}
    li { list-style-type: none;}

    img {
    width: 100px;
    margin-bottom: 15px; 
    }

    .p-cu { font-size: 25px;
        &:hover { background-color: lightblue;}
    }

    @media (max-width: 480px) {
        .p-cu { font-size: 13px;}
        .nuestros-cursos { font-size: 30px;
            &:hover{font-size: 30px;
                color: deeppink;
                font-family: Georgia;
                text-decoration: underline double;
                padding: 20px;
                display: inline-block;
                display: flex;
                justify-content: flex-start;
                background-color: rgba(255, 255, 0, 0.342); }

        }

    }
}

/*estilos de parrafos*/
    
strong { color: rgb(255, 0, 255);}
   
/*tamaños de imagen y posision*/

.cursos img { width: 100px;
height: 100px;}
